.achievement-group {
  margin-bottom: 20px;
  color: #d0d0d0;

}

.achievement-title {
  color: #d0d0d0;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.achievement-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10%;
  color: #d0d0d0;

}

.achievement-image img {
  max-width: 10px;
  /* Ajusta el ancho máximo según necesites */
  max-height: 10px;
  /* Ajusta la altura máxima según necesites */
  object-fit: contain;
  /* Mantiene las proporciones de la imagen sin recortarla */
}

.achievement-name {
  font-size: 1.2em;
  color: #eeeaea;
}

.achievement-description {
  font-size: 1em;
  color: #e0e0e0;
  margin-bottom: 10px;
}

.achievement-rank {
  font-weight: bold;
  color: #e0e0e0;
}

.container_unlocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-width: 20%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin-top: auto;
}

.btn-lock {
  position: relative;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  display: inline-block;
  background: #5bffa8;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  padding: 12px 0 0 18px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn-unlock {
  position: relative;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  display: inline-block;
  background: #ff5b5b;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  padding: 12px 0 0 18px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn-lock svg {
  fill: none;
  transform: translate3d(0, 0, 0);
}


.btn-lock svg .lock {
  stroke: #060606;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 36;
  transition: all 0.4s ease;
}

.btn-lock svg .lockb {
  fill: #060606;
  fill-rule: evenodd;
  clip-rule: evenodd;
  transform: rotate(8deg);
  transform-origin: 14px 20px;
  transition: all 0.2s ease;
}
