@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 100%;
  min-height: 100%;
  background-color: #f0f0f0; /* Color de fondo claro */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: rgb(120, 128, 138);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes pulsethinker {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.10);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-thinker {
  animation: pulse 2s infinite;
}

@keyframes deconstruct {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.deconstruct {
  animation: deconstruct 1s forwards;
}

