body {
  min-width: 100%;
  min-height: 100%;
  background-color: #f0f0f0; /* Color de fondo claro */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: rgb(120, 128, 138);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
