.container_game_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Alinea los elementos hijos en el centro */
  min-height: 40vmin;
  max-height: 70vmin;
  margin: auto; /* Centra horizontalmente */
  padding: 30px;
  width: 60vmin;
  gap: 10px;
  background-color: rgba(252, 243, 243, 0.3);
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  position: absolute; /* Para centrar verticalmente */
  top: 50%; /* Para centrar verticalmente */
  left: 50%; /* Para centrar horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición para centrar exactamente */
}


.fun-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-width: 50%
}

.fun-button {
  background-color: #519ff2; /* Color azul claro */
  color: #ffffff; /* Texto blanco para mejor contraste */
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  min-width: 50%;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

.fun-button:hover {
  transform: translateY(-5px) scale(1.05); /* Elevación y ligero aumento de tamaño */
  background-color: #28A745; /* Color verde al pasar el ratón */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}
