.settings_menu,
.logo-container,
.profile_container {
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10%;
}

.menu-fixed {
    animation: tracking-in-expand-forward-top 0.3s linear both;
    position: fixed;
    top: 8px;
    left: 0;
    margin: 2px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: center;
}

.menu-fixed button {
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.menu-fixed button:first-child {
    margin-top: 1;
}

.menu-fixed button:last-child {
    margin-bottom: 1;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.menu-fixed button {
    animation: tracking-in-expand-forward-top 0.3s linear both
}

@keyframes tracking-in-expand-forward-top {
    0% {
        letter-spacing: -.2em;
        transform: translateZ(-700px) translateY(-100px);
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}

.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    margin-top: 1vmin;
    height: 50px;
    width: 50px;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  